body {
  background-color: #FFFFFF;
  background-image: url("../../images/bg1_vectorized.png");
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 3.813em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.logo{
	width: 120px !important;
}

.brand > span{
	vertical-align: middle;
}
.brand > img{
	vertical-align: middle;
}
.segment_label{
  margin-left: 2px !important;
}
